<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="demo">
        姓：<input type="text" placeholder="First Name" v-model="firstName"><br>
        名：<input type="text" placeholder="Last Name" v-model="lastName"><br>
        <!-- fullName1是根据fistName和lastName计算产生 -->
        姓名1(单向):<input type="text" placeholder="Full Name1" v-model="fullName1"><br>
        姓名2(单向):<input type="text" placeholder="Full Name2" v-model="fullName2"><br>
        姓名3(双向):<input type="text" placeholder="Full Name3" v-model="fullName3"><br>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#demo',
            data: {
                firstName: 'A', //默认值
                lastName: 'B',
                fullName2: 'A_B',
            },
            computed: {
                fullName1() { //属性的get
                    console.log('fullName1', this);
                    return this.firstName + '_' + this.lastName
                },

                fullName3: {
                    // 当获取当前属性值时#自动调用#，将返回值(根据相关的其他属性数据)作为属性值
                    get() {
                        console.log('fullName3 get()');
                        return this.firstName + '_' + this.lastName;
                    },
                    // 当属性值发生了变化改变时自动调用，监视当前属性变化，同步更新相关的其他属性值
                    set(value) { //fullName3的最新value值
                        console.log('fullName3 set()', value);
                        // 更新firstName
                        const names = value.split('_');
                        console.log(names[0]);
                        this.firstName = names[0];
                        this.lastName = names[1];
                    }
                }
            },
            watch: {
                //配置监视firstName
                firstName: function (value) { // 相当于属性的set
                    this.fullName2 = value + '_' + this.lastName
                }
            }
        })

        vm.$watch('lastName', function (value) {
            this.fullName2 = this.firstName + '_' + value;
        })
    </script>
</body>

</html>